* {
  font-family: Helvetica, Arial, sans-serif;
}


h1 {
  color: White;
}


p, 
li {
  font-size: 18px;
}
iframe:focus {
  font-size: 500px;
}


a {
  text-decoration: none;]
}

body {
  background-color: black;
  text-align: center;
}


.clockdate-wrapper {
    background-color: black;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:0px;
}
#clock{
    font-family: sans-serif;
    font-size:150px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
    text-align: center;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-0px;
    left:-10px;
}
#date {
    letter-spacing:4px;
    font-size:26px;
    font-family:arial,sans-serif;
    color:#fff;
}

.current {
    font-size: 150px;
}
}